
<ion-view view-title="Accesos">
  <ion-content>


    <body id="app-body" class="namespace-infonews ">

      <div class="header-fixed">
        <div class="top-nav">
      <div class="app-inside">
</div>

    </div>
        <div class="clear"></div>
      </div>
    </div><div id="content" class="widget-rss">



        <div class="app-inside">
          <div class="app-wrapper">
            <div class="widget-transit">
              <div class="two-cols">




              <div class="full-col">
                    <div class="content-table">
                      <table class="transitline cars">
                                              <tr>
                            <td>Acceso | Au. 25 De Mayo (centro)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. 25 De Mayo (provincia)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. 9 De Julio Sur (norte)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. 9 De Julio Sur (sur)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Del Oeste (este)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Del Oeste (oeste)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Dellepiane (centro)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Dellepiane (prov.)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Perito Moreno (centro)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Perito Moreno (prov.)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Ricchieri (capital)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Au. Ricchieri (ezeiza)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Av. Gral. Paz (centro Y Sur)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Bs. As. - La Plata (capital)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Bs. As. - La Plata (la Plata)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Gral. Paz (norte)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Illia (gral. Paz)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Illia (retiro)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Panamericana (capital)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Panamericana (capital)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Panamericana (norte)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Acceso | Panamericana (norte)</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Au. Camino Del Buen Ayre</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Au. Ruta Nacional 2</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Au. Ruta Provincial 11</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. 9 De Julio Norte</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Avellaneda 1800</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Belgrano 500</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Boedo 800</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Cabildo 2000</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Cabildo 2900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Cabildo 4600</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Callao 600</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Cantilo</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Carabobo 1800</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Córdoba 900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Corrientes 900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. De Mayo 700</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Del Libertador 1900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Del Libertador 3400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Del Libertador 6900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Del Libertador 700</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Del Libertador 8000</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Directorio 500</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Doctor Ricardo Balbín 4500</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Entre Ríos 1800</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Estado De Israel 4400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Eva Perón 1200</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Gaona 1900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. General Las Heras 1900</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Independencia 1000</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Ingeniero Huergo 700</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. José María Moreno 1750</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Juan B. Justo 5100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Juan Bautista Alberdi 1800</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Jujuy 300</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. La Plata 1000</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Lafuente 400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Leandro N. Alem 400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Leopoldo Lugones</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Nazca 1100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Paseo Colón 400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Pres. Figueroa Alcorta 2100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Pres. Roque Sáenz Pena 1100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Pueyrredón 400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Rivadavia 1100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Sáenz 1000</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. San Martín 6801</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Santa Fe 1100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Sarmiento 3100</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Av. Segurola 400</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente Nicolás Avellaneda</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente | Alsina</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente | Alsina</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente | De La Noria</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente | Pueyrredón</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente | Saavedra</td>
                            <td>Normal</td>
                          </tr>
                                              <tr>
                            <td>Puente | Victorino De La Plaza</td>
                            <td>Normal</td>
                          </tr>
                                          </table>
                    </div>

                </div>
              </div>
            </div>

          </div>
        </div>


    <script>


      $('.hide_results .show-more').on('click', function() {
        var cnt_trs = $(this).parent().find('table tr').length;
        var height_trs = $(this).parent().find('table tr:first-child').height();
        var height = cnt_trs * height_trs + 40;

        $(this).hide();
        $(this).parent().find('.content-table').css('height', height+'px');

      })

      $('.widget-transit .widget-access .search_access_input').bind('keyup', function(e) {
        var txt = $(this).val().toLowerCase();
        var height_trs = $('.widget-access .content-table tr:first-child').height();
        var cnt_results = 0;

        $('.widget-access tr td:first-child').each(function(indice, elemento) {
          $(elemento).parent().hide();
          if ($(elemento).text().toLowerCase().indexOf( txt ) >= 0) {
            cnt_results++;
            $(elemento).parent().fadeIn();
          }
        });

        var height = (cnt_results * height_trs) + 50;

        $('.widget-access .content-table').css('height', height+'px');

        if(txt.length > 0) {
          $('.widget-access .show-more').hide();
        } else {
          $('.widget-access .show-more').show();
          var height = (5 * height_trs) + 50;

          $('.widget-access .content-table').css('height', height+'px');
        }
      });


    </script>

  </ion-content>
</ion-view>
