
<ion-view view-title="Temperatura actual">
  <ion-content>
    <!--
                 <div id="TT_tuqALhdhd88KWMpUsfutDsmrosnU1YcEfvhwdjfvb6k"></div>
                 <script type="text/javascript" src="http://www.tutiempo.net/widget/eltiempo_tuqALhdhd88KWMpUsfutDsmrosnU1YcEfvhwdjfvb6k"></script>
-->

<iframe src="//doocoding.com/weathersticker/widget/long.php?lat=-34.6036844&lon=-58.3815591&location=Buenos+Aires%2C+Ciudad+Aut%C3%B3noma+de+Buenos+Aires%2C+Argentina" width="100%" height="450" frameborder="0"></iframe>

<iframe src="//doocoding.com/weathersticker/widget/animate.php?lat=-34.6036844&lon=-58.3815591&location=Buenos+Aires%2C+Ciudad+Aut%C3%B3noma+de+Buenos+Aires%2C+Argentina" width="100%" height="160" frameborder="0"></iframe>
  </ion-content>
</ion-view>
