<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Clima" icon-off="ion-ios-sunny" icon-on="ion-ios-partlysunny" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Subte" icon-off="ion-android-subway" icon-on="ion-android-subway" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Autopistas" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/autopistas">
    <ion-nav-view name="autopistas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sube" icon-off="ion-card" icon-on="ion-card" href="#/tab/sube">
    <ion-nav-view name="sube"></ion-nav-view>
  </ion-tab>


</ion-tabs>
