
<ion-tabs>

<!--
  <ion-tab title="Inicio" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/inicio">
    <ion-nav-view name="inicio"></ion-nav-view>
  </ion-tab>-->

  <ion-tab title="Clima" icon-off="ion-ios-sunny" icon-on="ion-ios-partlysunny" href="#/tab/clima">
    <ion-nav-view name="clima"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Subte" icon-off="ion-android-subway" icon-on="ion-android-subway" href="#/tab/subte">
    <ion-nav-view name="subte"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Autopistas" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/autopistas">
    <ion-nav-view name="autopistas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sube" icon-off="ion-card" icon-on="ion-card" href="#/tab/sube">
    <ion-nav-view name="sube"></ion-nav-view>
  </ion-tab>

  <ion-tab title="trenes" icon-off="ion-android-train" icon-on="ion-android-train" href="#/tab/trenes">
    <ion-nav-view name="trenes"></ion-nav-view>
  </ion-tab>

</ion-tabs>
