<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.antesdesalir833581" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>antesdesalir</name>
  <description>
        La aplicacion que se necesita antes de salir. Cuanta con el estado de clima, funcionamiento del subte, estado de autopistasy mas.
    </description>
  <author email="fakulong@gmail.com" href="http://google.com/">
      FPM
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager"/>
  </feature>
  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <preference name="webviewbounce" value="true"/>
  <preference name="UIWebViewBounce" value="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="BackupWebStorage" value="none"/>
</widget>
