<ion-view  view-title="Estado del subte">

  <ion-content>



               <div class="bar bar-header bar-calm">
                 <h1 class="title">Trenes</h1>

               </div>



               <!DOCTYPE html>
               	<html xmlns:fb="http://ogp.me/ns/fb#" lang="es">
               	<head>
                   <title>Estado del tránsito</title>
               <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
               <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
               <meta charset="utf-8" />

               <link type="text/css" rel="stylesheet" href="http://static.grupo23.com/infonews-v3/styles.css?v3.1.140" />

               <link rel="icon" href="http://static.grupo23.com/infonews-v3/nspaces/infonews/favicon.png?v3.1.140" type="image/x-icon" />
               <link rel="shortcut icon" href="http://static.grupo23.com/infonews-v3/nspaces/infonews/favicon.png?v3.1.140" type="image/x-icon" />
               <script src="http://static.grupo23.com/infonews-v3/js/jquery-1.11.2.min.js"></script>
               <script src="http://static.grupo23.com/infonews-v3/js/app-pre.js?v3.1.140"></script>

               </head>


               <body id="app-body" class="namespace-infonews ">

               			<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJC8NX"
               height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
               <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
               new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
               j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
               '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
               })(window,document,'script','dataLayer','GTM-NJC8NX');</script>		<div id="fb-root"></div>
               <script>window.fbAsyncInit = function() { FB._https = true; FB.init({ appId : '621337597889558', xfbml : true, version : 'v2.3', channelUrl : '//www.infonews.com/channel.html' });};(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/es_LA/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>		<script type="text/javascript">
               // <![CDATA[
               function udm_(e){var t="comScore=",n=document,r=n.cookie,i="",s="indexOf",o="substring",u="length",a=2048,f,l="&ns_",c="&",h,p,d,v,m=window,g=m.encodeURIComponent||escape;if(r[s](t)+1)for(d=0,p=r.split(";"),v=p[u];d<v;d++)h=p[d][s](t),h+1&&(i=c+unescape(p[d][o](h+t[u])));e+=l+"_t="+ +(new Date)+l+"c="+(n.characterSet||n.defaultCharset||"")+"&c8="+g(n.title)+i+"&c7="+g(n.URL)+"&c9="+g(n.referrer),e[u]>a&&e[s](c)>0&&(f=e[o](0,a-8).lastIndexOf(c),e=(e[o](0,f)+l+"cut="+g(e[o](f+1)))[o](0,a)),n.images?(h=new Image,m.ns_p||(ns_p=h),h.src=e):n.write("<","p","><",'img src="',e,'" height="1" width="1" alt="*"',"><","/p",">")};
               udm_('http'+(document.location.href.charAt(4)=='s'?'s://sb':'://b')+'.scorecardresearch.com/b?c1=2&c2=14909976&ns_site=infonews&name=infonews.transito');
               // ]]>
               </script>
               <noscript><p><img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=14909976&amp;ns_site=infonews&amp;name=infonews.transito" height="1" width="1" alt="*"></p></noscript>
               <script type="text/javascript" language="JavaScript1.3" src="http://b.scorecardresearch.com/c2/14909976/ct.js"></script>
               		<script type="text/javascript" src="https://d31qbv1cthcecs.cloudfront.net/atrk.js"></script>
               <script type="text/javascript">_atrk_opts = { atrk_acct: "YB81g1agwt000L", domain:"infonews.com"}; atrk ();</script>
               <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=YB81g1agwt000L" style="display:none" height="1" width="1" alt="" /></noscript>	<div class="header">

                 <div class="widget-static widget-rss-content">

                   <div class="app-inside">
                     <div class="app-wrapper">
                       <div class="widget-transit">
                         <div class="two-cols">


                               <div class="content-table">

                               <table class="transitline">
                               </br>
                                                     <tr>
                                     <td>Línea Belgrano Norte A Villa Rosa</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Belgrano Sur A Gonzalez Catan</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Mitre A Mitre</td>
                                     <td class="with-delay">Retrasado</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Mitre A Suarez</td>
                                     <td class="with-delay">Retrasado</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Mitre A Tigre</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Roca A Cañuelas</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Roca A Ezeiza</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Roca A Glew</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Roca A La Plata</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea San Martin A Jose C. Paz</td>
                                     <td>Normal</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Sarmiento</td>
                                     <td class="with-delay">Interrumpido</td>
                                   </tr>
                                                     <tr>
                                     <td>Línea Urquiza A Gral. Lemos</td>
                                     <td>Normal</td>
                                   </tr>
                                                 </table>
                               </div>

                           </div>
                         </div>


                       </div>

                     </div>
                   </div>
                 </div>
               </div>
               <script>


                 $('.hide_results .show-more').on('click', function() {
                   var cnt_trs = $(this).parent().find('table tr').length;
                   var height_trs = $(this).parent().find('table tr:first-child').height();
                   var height = cnt_trs * height_trs + 40;

                   $(this).hide();
                   $(this).parent().find('.content-table').css('height', height+'px');

                 })

                 $('.widget-transit .widget-access .search_access_input').bind('keyup', function(e) {
                   var txt = $(this).val().toLowerCase();
                   var height_trs = $('.widget-access .content-table tr:first-child').height();
                   var cnt_results = 0;

                   $('.widget-access tr td:first-child').each(function(indice, elemento) {
                     $(elemento).parent().hide();
                     if ($(elemento).text().toLowerCase().indexOf( txt ) >= 0) {
                       cnt_results++;
                       $(elemento).parent().fadeIn();
                     }
                   });

                   var height = (cnt_results * height_trs) + 50;

                   $('.widget-access .content-table').css('height', height+'px');

                   if(txt.length > 0) {
                     $('.widget-access .show-more').hide();
                   } else {
                     $('.widget-access .show-more').show();
                     var height = (5 * height_trs) + 50;

                     $('.widget-access .content-table').css('height', height+'px');
                   }
                 });


               </script></body>
               </html>

             </ion-content>
              </ion-view>
