
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
p {
  text-align: center;
  margin-bottom: 40px !important;
}
#actual{
  margin: auto 30%;

}
#TT_tuqALhdhd88KWMpUsfutDsmrosnU1YcEfvhwdjfvb6k{
  margin: auto 10%;
  height: 450px !important;
}
#pepe{
  margin: 150% 20%;

}
#bg{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

#custom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fe201f;
}

#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  -webkit-animation: rotating-function 5.25s linear infinite;
    -moz-animation: rotating-function 5.25s linear infinite;
     -ms-animation: rotating-function 5.25s linear infinite;
      -o-animation: rotating-function 5.25s linear infinite;
         animation: rotating-function 5.25s linear infinite;
}

.custom-overlay  {

}

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linea-A {
    background: #05ADDE;
}
.linea-B {
    background: #E91627;
}
.linea-C {
    background: #046AB4;
}
.linea-D {
    background: #087F69;
}
.linea-E {
    background: #6D2281;
}
.linea-H {
    background: #FFCA03;
    border-color: #4E5366;
    color: #4E5366;
}
.linea-P {
    background: #FDBA2D;
}
.pastilla {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 0%;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
